.bodySize {
    width: 70%;
    margin: auto;
}

.chooseTypeCards {
    width: 100%;
    /* max-height: 500px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media all and (max-width: 768px) {
    .chooseTypeCards {
        width: 90%;
    }
}

.radioOption input[type="radio"] {
    /* Customize the size of the radio button */
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Optional spacing between the radio button and label text */
  }